.page-list {
  display: flex;
  justify-content: space-around;
}
body {
  width: 500px;
  margin: 0 auto;
}
.guestbook-container {
  width: 500px;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #444444;
}
.page:hover,
tr:hover {
  cursor: pointer;
}
.active {
  color: red;
}
